.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    gap: 10px;
  }
  
  .form input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }